.container {
  background-color: rgb(216, 218, 61);
  border: 2px purple dotted;
  width: 500px;
  height: 400px;
  padding: 20px;
  vertical-align: auto 0;
}

.two {
  padding-left: 10em;
}

h1 {
  font-family: Helvetica;
}

body {
  color: purple;
  font-family: Georgia;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 2em 0 0 0;
  position: absolute;
  width: 9em;
}

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
}

ul.navbar a {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
